In [1]:
import pandas as pd
test_daily=pd.read_csv('C:/Users/garyp/Downloads/python_test_daily.csv',index_col=0,dayfirst=True,parse_dates=True)
test_15min=pd.read_csv('C:/Users/garyp/Downloads/python_test_15min.csv',index_col=0,dayfirst=True,parse_dates=True)
test_forecast=pd.read_csv('C:/Users/garyp/Downloads/python_test_forecast.csv',
                          dayfirst=True,index_col=0,parse_dates=['forecast_time','forecasted_time'])

In [3]:
test_daily

             value
datetime
2021-01-04  1.2296
2021-01-05  1.2271
2021-01-06  1.2338
2021-01-07  1.2276
2021-01-08  1.2250
2021-01-11  1.2163
2021-01-12  1.2161
2021-01-13  1.2166
2021-01-14  1.2124
2021-01-15  1.2123
2021-01-18  1.2064
2021-01-19  1.2132
2021-01-20  1.2101
2021-01-21  1.2158
2021-01-22  1.2158
2021-01-25  1.2152
2021-01-26  1.2143
2021-01-27  1.2114
2021-01-29  1.2136
2021-02-01  1.2084
2021-02-02  1.2044
2021-02-03  1.2017
2021-02-04  1.1996
2021-02-05  1.1983
2021-02-08  1.2025
2021-02-09  1.2104
2021-02-10  1.2127
2021-02-11  1.2147
2021-02-12  1.2108
2021-02-15  1.2129
2021-02-16  1.2143
2021-02-17  1.2060
2021-02-18  1.2084
2021-02-19  1.2139
2021-02-22  1.2133
2021-02-23  1.2143
2021-02-24  1.2146
2021-02-25  1.2225
2021-02-26  1.2121

In [4]:
test_15min

                     value
datetime
2021-01-01 00:00:00   2493
2021-01-01 00:15:00   2519
2021-01-01 00:30:00   2506
2021-01-01 00:45:00   2519
2021-01-01 01:00:00   2521
...                    ...
2021-02-28 22:45:00   1072
2021-02-28 23:00:00   1068
2021-02-28 23:15:00   1041
2021-02-28 23:30:00   1017
2021-02-28 23:45:00   1010

[5664 rows x 1 columns]

In [5]:
test_forecast

                        forecasted_time    value
forecast_time
2020-12-28 00:10:00 2021-01-01 00:00:00  691.042
2020-12-28 00:10:00 2021-01-01 00:15:00  694.330
2020-12-28 00:10:00 2021-01-01 00:30:00  697.602
2020-12-28 00:10:00 2021-01-01 00:45:00  700.883
2020-12-28 06:05:00 2021-01-01 00:00:00  673.134
...                                 ...      ...
2021-03-01 18:05:00 2021-02-28 23:45:00  781.126
2021-03-01 18:10:00 2021-02-28 23:00:00  769.130
2021-03-01 18:10:00 2021-02-28 23:15:00  773.133
2021-03-01 18:10:00 2021-02-28 23:30:00  777.119
2021-03-01 18:10:00 2021-02-28 23:45:00  781.126

[197436 rows x 2 columns]

In [6]:
#1
task_1= pd.merge(test_15min,test_daily,how='left',on='datetime').fillna(method='ffill')
task_1.columns=['15min Values','Forward Filled Daily']
task_1

                     15min Values  Forward Filled Daily
datetime
2021-01-01 00:00:00          2493                   NaN
2021-01-01 00:15:00          2519                   NaN
2021-01-01 00:30:00          2506                   NaN
2021-01-01 00:45:00          2519                   NaN
2021-01-01 01:00:00          2521                   NaN
...                           ...                   ...
2021-02-28 22:45:00          1072                1.2121
2021-02-28 23:00:00          1068                1.2121
2021-02-28 23:15:00          1041                1.2121
2021-02-28 23:30:00          1017                1.2121
2021-02-28 23:45:00          1010                1.2121

[5664 rows x 2 columns]

In [8]:
test_15min.resample('D').mean()

                  value
datetime
2021-01-01  1610.552083
2021-01-02  1080.354167
2021-01-03  1078.739583
2021-01-04  1387.364583
2021-01-05  1118.802083
2021-01-06   304.479167
2021-01-07   840.677083
2021-01-08  1178.020833
2021-01-09   562.906250
2021-01-10  1614.604167
2021-01-11  3242.947917
2021-01-12  1567.385417
2021-01-13  1766.812500
2021-01-14  1230.062500
2021-01-15  2556.645833
2021-01-16  2892.937500
2021-01-17  1536.260417
2021-01-18  1238.125000
2021-01-19  1975.520833
2021-01-20   691.093750
2021-01-21  1362.562500
2021-01-22   696.260417
2021-01-23   644.864583
2021-01-24   865.364583
2021-01-25   861.010417
2021-01-26  1763.552083
2021-01-27   911.177083
2021-01-28  2556.083333
2021-01-29  1989.979167
2021-01-30  3171.562500
2021-01-31  2605.822917
2021-02-01  1684.468750
2021-02-02  2514.552083
2021-02-03  2168.531250
2021-02-04  1020.145833
2021-02-05  1116.989583
2021-02-06   951.875000
2021-02-07  2998.125000
2021-02-08  3213.427083
2021-02-09  3210.364583
2021-02-10  1913.468750
2021-02-11  4025.937500
2021-02-12  3965.593750
2021-02-13  3695.906250
2021-02-14  3305.041667
2021-02-15  3160.010417
2021-02-16  2898.541667
2021-02-17  2720.062500
2021-02-18  2670.572917
2021-02-19  3160.156250
2021-02-20  3057.614583
2021-02-21  2325.020833
2021-02-22  2766.666667
2021-02-23  3513.812500
2021-02-24  2443.354167
2021-02-25  1372.114583
2021-02-26  1767.114583
2021-02-27   522.625000
2021-02-28   372.072917

In [14]:
test_15min.resample('D')

In [9]:
#2
task_2= pd.merge(test_daily,test_15min.resample('D').mean(), on='datetime')
task_2.columns=['Daily Values','Mean Daily Freq']
task_2

            Daily Values  Mean Daily Freq
datetime
2021-01-04        1.2296      1387.364583
2021-01-05        1.2271      1118.802083
2021-01-06        1.2338       304.479167
2021-01-07        1.2276       840.677083
2021-01-08        1.2250      1178.020833
2021-01-11        1.2163      3242.947917
2021-01-12        1.2161      1567.385417
2021-01-13        1.2166      1766.812500
2021-01-14        1.2124      1230.062500
2021-01-15        1.2123      2556.645833
2021-01-18        1.2064      1238.125000
2021-01-19        1.2132      1975.520833
2021-01-20        1.2101       691.093750
2021-01-21        1.2158      1362.562500
2021-01-22        1.2158       696.260417
2021-01-25        1.2152       861.010417
2021-01-26        1.2143      1763.552083
2021-01-27        1.2114       911.177083
2021-01-29        1.2136      1989.979167
2021-02-01        1.2084      1684.468750
2021-02-02        1.2044      2514.552083
2021-02-03        1.2017      2168.531250
2021-02-04        1.1996      1020.145833
2021-02-05        1.1983      1116.989583
2021-02-08        1.2025      3213.427083
2021-02-09        1.2104      3210.364583
2021-02-10        1.2127      1913.468750
2021-02-11        1.2147      4025.937500
2021-02-12        1.2108      3965.593750
2021-02-15        1.2129      3160.010417
2021-02-16        1.2143      2898.541667
2021-02-17        1.2060      2720.062500
2021-02-18        1.2084      2670.572917
2021-02-19        1.2139      3160.156250
2021-02-22        1.2133      2766.666667
2021-02-23        1.2143      3513.812500
2021-02-24        1.2146      2443.354167
2021-02-25        1.2225      1372.114583
2021-02-26        1.2121      1767.114583

In [11]:
test_forecast

                        forecasted_time    value
forecast_time
2020-12-28 00:10:00 2021-01-01 00:00:00  691.042
2020-12-28 00:10:00 2021-01-01 00:15:00  694.330
2020-12-28 00:10:00 2021-01-01 00:30:00  697.602
2020-12-28 00:10:00 2021-01-01 00:45:00  700.883
2020-12-28 06:05:00 2021-01-01 00:00:00  673.134
...                                 ...      ...
2021-03-01 18:05:00 2021-02-28 23:45:00  781.126
2021-03-01 18:10:00 2021-02-28 23:00:00  769.130
2021-03-01 18:10:00 2021-02-28 23:15:00  773.133
2021-03-01 18:10:00 2021-02-28 23:30:00  777.119
2021-03-01 18:10:00 2021-02-28 23:45:00  781.126

[197436 rows x 2 columns]

In [12]:
a=test_forecast[test_forecast['forecasted_time']>test_forecast.index]
a.drop_duplicates('forecasted_time',keep='last')

                        forecasted_time     value
forecast_time
2020-12-31 18:10:00 2021-01-01 00:00:00  2560.367
2021-01-01 00:10:00 2021-01-01 00:15:00  2500.904
2021-01-01 00:10:00 2021-01-01 00:30:00  2441.437
2021-01-01 00:10:00 2021-01-01 00:45:00  2381.962
2021-01-01 00:10:00 2021-01-01 01:00:00  2328.966
...                                 ...       ...
2021-02-28 18:10:00 2021-02-28 22:45:00   771.798
2021-02-28 18:10:00 2021-02-28 23:00:00   769.130
2021-02-28 18:10:00 2021-02-28 23:15:00   773.133
2021-02-28 18:10:00 2021-02-28 23:30:00   777.119
2021-02-28 18:10:00 2021-02-28 23:45:00   781.126

[5664 rows x 2 columns]

In [ ]:
#3
forecast= test_forecast[test_forecast['forecasted_time']>test_forecast.index].drop_duplicates('forecasted_time',keep='last')
forecast.columns=['datetime','value']
forecast

In [ ]:
task_3= pd.merge(test_15min,forecast,on='datetime')
task_3.set_index('datetime',inplace=True)
task_3.columns=['Value','Most Recent Forecast']

In [ ]:
task_3

In [ ]:
test_15min

In [ ]:
forecast

In [ ]:
#3

In [ ]:
forecast

In [ ]:
test_15min

In [ ]:
pd.merge(test_15min,forecast, left_on=test_15min.index,right_on=forecast.index)

In [ ]:
test_15min